{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header Main -->
    {% include 'default/shared/header_main.html.twig' %}

    <!-- Sidebar left Main -->
    {% include 'default/shared/sidebar_main.html.twig' %}

    <div id="page_content">
        <div id="page_content_inner">

            <h3 class="heading_b uk-margin-bottom">Manteniminto de Equipos ({{ parametro | upper}})</h3>
            
            <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid-margin="" data-uk-grid-match="{target:'.md-card-content'}">
                {% for equipo in equipos %}
                <div class="uk-row-first">
                    <div class="md-card">
                        <div class="md-card-head md-bg-light-blue-600">
                            <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false">
                                <i class="md-icon material-icons md-icon-light"></i>
                                <div class="uk-dropdown uk-dropdown-small" aria-hidden="true">
                                    <ul class="uk-nav">
                                        <li><a href="{{ path('detalleMantenimientos', {'equipo': equipo.id}) }}">Revisar</a></li>
                                        <li><a href="#" class="uk-text-danger">Anular</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-text-center">
                                <img class="md-card-head-avatar" src="assets/img/avatars/avatar_11.png" alt="">
                            </div>
                            <h3 class="md-card-head-text uk-text-center md-color-white">
                                {{ equipo.nombre |upper }} ({{ equipo.precio }})<span> {{ equipo.codProducto }}</span>
                               
                            </h3>
                        </div>
                        <div class="md-card-content" style="min-height: 215px;">
                            <ul class="md-list md-list-addon">
                                <li>
                                    
                                    <span class="md-list-heading">{{ equipo.descripcion }}</span>
                                     
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>

        </div>
    </div>

{% endblock %}
   
